@import "../../global/library.scss";
.full_height_popout {
    @include full-height-popout-background;
}

#visitor_modal_wrapper {
    @include popout-content;
    .close_btn {
        @include icon-close-btn;
    }
    #visitor_modal_content {
        @include inner-shadow-form-wrapper;
        table {
            border: 1px solid black;
            border-collapse: collapse;
            th {
                text-align: center;
            }
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            .vertical_data {
                display: flex;
                flex-direction: column;
            }
            p {
                margin: 0px;
            }
        }
    }
}

@media (max-width: 767px) {
    #edit_member_form_wrapper {
        overflow-y: scroll;
        height: 80vh;
        padding-top: 2rem;
        margin-top: 10px;
    }
}