@import "../../global/library.scss";
.attendance_table_wrapper {
    @include shadow-form;
    max-width: 1290px;
    border-radius: 0;
    padding-bottom: 0;
    padding-top: 1rem;
    row-gap: .5rem;
    margin-top: 6rem;
    table {
        width: 100%;
        border-collapse: collapse;
        th {
            padding-top: 18px;
            padding-bottom: 18px;
            background-color: $dark-blue;
            @include accent-bold;
            color: white;
        }
        .dark_row {
            background-color: rgba(152, 193, 217, .2);
        }
        td {
            text-align: center;
            padding-bottom: 14px;
            padding-top: 14px;
            button {
                width: auto;
                padding: 6px 12px;
                border-radius: 50%;
            }
            .present_click {
                background-color: transparent;
                color: $dark-blue;
                font-size: 20px;
                padding: 0;
                &:hover {
                    box-shadow: none;
                    color: $dark-background;
                }
            }
            .check {
                font-size: 32px;
                font-weight: 200;
            }
            .circle {
                font-size: 16px;
            }
            .trash_can {
                padding: 0;
                color: $orange;
                font-size: 20px;
                &:hover {
                    color: $dark-orange;
                }
            }
            .trash_btn {
                background-color: transparent;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}

@media (min-width: 1366px) {
    .attendance_table_wrapper {
        width: 1290px;
    }
}