@import "../../global/library.scss";
.alert_message_wrapper {
    position: fixed;
    top: 15vh;
    right: 2vw;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(41, 50, 65, .6);
    p {
        @include accent-bold;
        color: white;
    }
}