@import "../../global/library.scss";
.add_new_member_btn {
    margin: auto;
    display: flex;
    flex-direction: row;
    column-gap: .75rem;
    justify-content: center;
    align-items: center;
    align-content: bottom;
    min-width: 250px;
    height: 64px;
    padding: 12px 36px;
    @include accent-bold;
    color: white;
    .add_member_icon {
        font-size: 22px;
    }
}