@import "../../global/library.scss";
#login_form {
    box-shadow: 0 16px 32px rgba(0, 0, 0, .3);
    border-radius: 16px;
    padding: 6rem 8rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 2rem;
    .input_pair {
        display: flex;
        flex-direction: column;
        width: 350px;
        input[type="text"],
        input[type="password"] {
            @include input-field;
        }
        label {
            display: none;
        }
    }
    .submit_btn {
        @include blue-btn;
        margin: 1rem auto 0 auto;
    }
}