@import "../../global/library.scss";

#all_people_table_wrapper {
    @include main-table-wrapper;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    min-width: 450px;

    table {
        @include full-width-table;

        th {
            @include table-headers;
            text-align: left;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        tr {
            &:hover {
                background-color: $blue-highlight;
            }
        }

        td {
            @include table-center-data;
            text-align: left;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        button {
            width: auto;
            background-color: transparent;
            color: $dark-blue;
            font-size: 20px;
            padding: 0;

            &:hover {
                box-shadow: none;
                color: $dark-background;
            }
        }

        .user_check {
            font-size: 20px;
            color: $dark-blue;
        }

        .trash_can {
            @include trash-icon;
        }

        .align_center {
            text-align: center;
        }

        .member_status_header,
        .edit_header,
        .delete_header {
            text-align: center;
        }
    }
}

@media (min-width: 1366px) {
    #all_people_table_wrapper {
        width: 1290px;
    }
}

@media (max-width: 1024px) {
    #all_people_table_wrapper {
        table {

            th,
            td {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
    }
}