@import "../../global/library.scss";
#new_member_form {
    @include shadow-form;
    .form_inner_wrapper {
        @include inner-shadow-form-wrapper;
    }
    .fields_wrapper {
        @include inner-shadow-form-wrapper;
    }
    .input_wrapper {
        @include shadow-form-input-pair;
    }
    .age_fields_wrapper,
    .member_fields_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 2rem;
        .input_wrapper {
            display: flex;
            flex-direction: row;
            width: auto;
            label {
                margin-bottom: 0;
            }
            input {
                width: 20px;
            }
        }
    }
}