@import "../../styles/global/library.scss";

#search_content_wrapper {
    @include content-wrapper-md;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    form {
        @include shadow-form;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 1024px) {
    #search_content_wrapper {
        padding-bottom: 6rem;
    }
}